

body {
    line-height: 1.6;
    color: #333;
    font-family: "Cinzel", serif;
    width: 100%;
    margin: 0 auto;
}

.container {
    display: flex;
    justify-content: center;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    margin-bottom: 1rem;
    margin-top: 100px;
    font-size: 3rem;
    font-weight: 400;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
}
