html, body {
    line-height: 1.6;
    font-family: "Cinzel", serif;
    margin: 0 auto;
}


.container {
    display: flex;
    justify-content: center;
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}

@media (max-width: 500px) {
  nav ul {
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;  
}
}

h1 {
    margin-top: 80px;
}

.title {
    white-space: normal;
    text-align: center;
    color: black;
    font-size: 3.2rem;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
}

.title:hover,
.title:focus,
.navtext:hover, 
.navtext:focus,
.folders:hover,
.folders:focus {
    color: gray;
}

.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}

.gallery-img {
    max-width: 400px;
    width: 100%;
    height: auto;
    display: block;
    margin: 20px auto 0;
}

.gallery {
    display: none;
    transform: translateY(12px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.gallery:target {
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.lightbox img {
    max-width: 90%;
    max-height: 90%;
    box-shadow: 0 0 20px #000;
}

.lightbox:target {
    display: flex;
}

#portraits:target ~ section .folders-list,
#landscapes:target ~ section .folders-list,
#street:target ~ section .folders-list,
#art:target ~ section .folders-list {
    display: none;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: nowrap;
}

li {
    font-size: 1.6rem;
}

.navtext {
    font-size: 1.4rem;
    font-weight: 400;
    text-decoration: none;
    color: #333
}

main ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}

.projects {
    display: none;
    margin-top: 100px;
    opacity: 0;
    transform: translateY(12px);
    transition: opacity 0.3s ease, transform 0.3s ease;

}

.projects:target {
    display: block;
    opacity: 1;
    transform: translateY(0);
}



a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    color: #333;
    cursor: pointer;
}